In [1]:
import pandas as pd
import numpy as np

In [34]:
pd.read_csv("x.csv")

     -68.28363303
0      -68.440367
1      -68.431833
2      -69.670986
3      -68.443875
4      -68.422219
..            ...
676    -68.261750
677    -69.654308
678    -69.341358
679    -68.383306
680    -68.510992

[681 rows x 1 columns]